
<br/>
    <div style = "weight:100px;height:100px; margin: auto;">
        <img src="~/Content/Assets/images/e.png" alt="IMG-INSTAGRAM" />
    </div>
    <p style="display:flex; flex-direction:column; justify-content:center;margin-left:20px;">
        <p class="text-center" style="white-space: nowrap">
            <a href="https://www.instagram.com/__rei.b__/">
                <b>
                https://www.instagram.com/__rei.b__/ <br />
                </b>              
            </a>
<br/>
            <a href="https://www.facebook.com/congvu.anh.3">
                <b>
                    https://www.facebook.com/congvu.anh.3 <br />
                </b>               
            </a>
<br/>
                <b>
                     Phone numer : 0987481920 <br />
                </b>                        
        </p>
    </P>
<br/>
    <p style="display:flex; flex-direction:column; justify-content:center;margin-left:20px;">
        <p class="text-center" style="white-space: nowrap">
            <b>          
                Conect and Support Us :               
            </b>
<br/>
            <a href="vuconganh97@gmail.com">
                <b>
                    vuconganh97@gmail.com
                </b>
            </a>
        </p>
    <p/>
<br/>
<br/>
<br/>
<br/>

   
